<div class="flex justify-between mt-3">
  <p class="font-bold text-2xl"><%= current_user.team.name %> 成員列表</p>
  <%= link_to "成員邀請", "#", class:"btn-dashboard-create"  %>
</div>
<span class="block mb-10">管理您的組織成員，邀請新成員加入、進行查詢、調整職位及進行成員刪除。</span>
<%# <p class="mb-3 font-bold text-2xl">邀請中的成員</p>
<table class="room_table mb-8">
  <thead>
    <tr>
      <td>Email</td>
      <td>寄出時間</td>
      <td>寄件者</td>
      <td>寄件者職位</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table> %>
<p class="mb-3 font-bold text-2xl">目前成員</p>
<table class="room_table">
  <thead>
    <tr>
      <td>名稱</td>
      <td>Email</td>
      <td>職位</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
