<div class="flex justify-between">
  <p> team.name </p>
  <%= link_to "Invite Members", new_member_path, class:"createBtn bg-red-500"  %>
</div>
<span>Manage the members in your organization. Invite new members, or search, promote, demote or remove existing ones.</span>
<p class="p-5 mb-3 font-bold">Pending invites</p>
<table class="room_table">
  <thead>
    <tr>
      <td>Email</td>
      <td>Invite sent</td>
      <td>Invite</td>
      <td>Role</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<p class=" p-5 mb-3 font-bold">Current Members</p>
<table class="room_table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>Role</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
