<section class="text-center">
  <h1>新增成員</h1>
  <div class="mb-3" data-controller="invite">
    <form action="/dashboard/member/invite">
      <label for="email">email</label>
      <input id="email" type="text" data-invite-target="email">
      <input type="submit" value="寄出">
    </form>
  </section>
