<section class="text-center">
  <h1>新增成員</h1>
  <%= form_with model: @team, url: members_path do |f|%>
    <div class="mb-3">
      <%= f.label :eamil, "電子信箱:" %>
      <%= f.text_field :email %>
      <%= f.submit "邀請" %>
    <% end %>
  </section>
