@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,500,700,900);

section > section {
  max-width: 1200px;
  margin: 15px auto;
}

.text{
  @apply overflow-hidden;
  padding-bottom: 30px;

  h1 {
    @apply text-9xl;
    animation: byBottom 1s ease both;
    font-family: yantramanav;
    padding-bottom:20px;

    p{
      @apply text-9xl;
      padding: 0px 0px 20px 0px;
      margin: 0px;
    }
  }

  p{
    @apply mb-5 text-2xl py-2.5;
    animation: byBtn 1s ease both;
  }

  a{
    animation: byBtn 1s 0.2s ease both;
  }

}


.hero-block {
  @apply px-5 pt-10;
  padding-bottom:150px;
  position: relative;

  .box {
    @apply rounded-3xl bg-gradient-to-tr from-green-400 to-blue-500;
    height: 95%;
    width: 600px;
  }

  .img {
    transform: translateY(120px);

    img {
      border-radius: 100%;
      height: auto;
      width: 800px;
      animation: byBottom 1s ease both;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}

.hero-block::before {
  content: '';
  width: 600px;
  height: 620px;
  left: -20px;
  top: 20px;
  background: #e9e8f6;
  position: absolute;
  box-shadow: rgb(181 175 175 / 25%) 7px 8px 6px 0px;
}

.hero-block::after {
  content: '';
  width: 602px;
  height: 603px;
  left: 20px;
  top: 75px;
  z-index: -1;
  background: #ffbf00;
  position: absolute;
}

.flow-chart-items-block {
  @apply px-5 py-10;

  h2{
    overflow: hidden;
    animation: byBottom 1s 0.2s ease both;
  }

  .box {
    @apply rounded-xl transition-colors bg-gradient-to-tr hover:text-white text-center text-5xl;
    height: 200px;
    width: 300px;
    line-height: 12.5rem;
    animation: byBottom 1s 0.2s ease both;
  }

  .box:nth-child(1) {
    @apply hover:from-pink-500 hover:to-yellow-500;
  }
  .box:nth-child(2) {
    @apply hover:from-yellow-500 hover:to-blue-500;
  }
  .box:nth-child(3) {
    @apply hover:from-blue-500 hover:to-pink-500;
  }

  .chart-list {
    @apply justify-evenly;
    overflow: hidden;
  }
}

.slim-banner-block {
  @apply text-center text-3xl bg-gray-200 py-5;
}

.supports-programming-languages {
  ::first-line {
    @apply uppercase;
  }
  ::first-letter {
    @apply text-7xl;
  }
  @apply px-5 py-10;
  .box {
    @apply rounded-3xl bg-gradient-to-tr from-blue-300 to-green-500;
    height: 400px;
    width: 600px;
  }
}

.features-block {
  ::first-line {
    @apply uppercase;
  }
  ::first-letter {
    @apply text-7xl;
  }
  .tabs > * {
    @apply hover:underline;
  }
  @apply px-5 py-10;
  .box {
    @apply rounded-3xl bg-gradient-to-tr from-blue-300 to-green-500;
    height: 400px;
    width: 600px;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes byBtn {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}
