<form action="<%= question_comments_path(@question) %>"  method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if !parent.nil? %>
    <input type="hidden" name="comment[parent_id]" value="<%= parent.id %>">
  <% end %>
  <textarea name="comment[content]"  cols="20" rows="6"></textarea>
  <input type="submit" value="送出">
</form>
