.createBtn {
  @apply px-3 py-1 border-2;
}

.question_table {
  @apply table-auto w-full border bg-white;

  thead {
    td {
      @apply font-bold p-3 border-b text-center;
    }
  }

  tbody {
    td {
      @apply p-3 border-b text-center;
    }
  }
}

.question-container {
  @apply flex;
  .candidate-input {
    @apply w-1/2 bg-red-200 p-2;
    .control-panel {
      button {
        @apply border-2 bg-black text-white text-xs rounded px-5 py-2;
      }
      @apply flex justify-between;
      .run-btn {
        @apply border-green-400 bg-green-400;
      }
      .draw-btn {
        @apply border-gray-300;
      }
    }
  }
}
.questions-text {
  > * {
    @apply my-3 mr-8;
  }
  label {
    @apply font-bold;
  }
  input,
  select {
    @apply py-2 px-5 rounded-full;
  }
  textarea {
    @apply py-2 px-5 border border-gray-900 rounded;
  }
}
.questions-editor-area {
  .codejar-wrap {
    height: 60vh;
  }
  select {
    @apply rounded;
  }
}

.questions-show-text {
  > * {
    @apply my-3 mr-8 font-bold;
  }
  li {
    @apply py-1 px-5 rounded-full bg-white break-all;
  }
  .text-area {
    @apply rounded-xl overflow-auto h-32;
  }
}
