<footer class="p-4 bg-gray-600 sm:p-4 ">
  <div class="text-center ">
    <div class="mb-6 md:mb-0">
      <span class="mb-1 text-white"><a href="https://github.com/we-have-TTA"><img class="inline w-5 h-5 mr-2 " src="/github.png">we-have-TTA</a></span>
    </div>
  </div>
  <hr class="mb-2 text-center border-gray-200 ">
  <div class ="text-center">
    <span class="text-sm text-white ">© 2022 iCode™. All Rights Reserved.
    </span>
  </div>
</footer>
