<footer class="p-4 bg-gray-600 sm:p-4 ">
  <div class="text-center ">
    <div class="mb-6 md:mb-0">
      <a href="#" class="mb-6 text-4xl font-semibold text-white">iCoder</a>
        <p class="text-white mb-1">招募軟體人才的面試管理平台，我們提供良好的求職面試管道，幫助您找到優良的軟體工程師。</p>
        <span class="text-white mb-1">聯絡我們：<a href="https://github.com/we-have-TTA"><img class="inline h-5 w-5 mr-2 " src="/github.png">we-have-TTA</a></span>
      </div>
  </div>
  <hr class=" border-gray-200 mb-2 text-center">
    <div class ="text-center">
      <span class="text-sm text-white ">© 2022 iCode™. All Rights Reserved.
      </span>
    </div>
</footer>
