<header class="site-header">
  <div class="nav_bar flex justify-center py-4">
    <nav id="main-navigation-dashboard ">
      <%= link_to  "/", class: "flex justify-center" do %>
        <img src="/icoder_logo.png" class="w-1/4 h-1/4">
      <% end %>
    </nav>
  </div>
</header>
