<header class="site-header">
  <div class="nav_bar">
    <nav id="main-navigation-member">
      <div>
        <%= link_to  "/", class: "logo" do %>
          {<b class="text-yellow-400">i</b>}Coder
        <% end %>
      </div>
    </nav>
  </div>
</header>
