<header class="site-header">
  <div class="nav_bar py-2">
    <nav id="main-navigation-dashboard">
      <%= link_to  "/", class: "logo" do %>
        <img src="/icoder_logo.png" class="w-1/4 h-1/4">
      <% end %>
      <ul>
        <li> Hello! <%= current_user.display_name %> </li>
        <%if current_user.team.plan == "normal"%>
          <li class="hover:text-red-600"><%= link_to "升級會員", plans_path %></li>
        <%end%>
        <li class="hover:text-red-600"><%= link_to "登出", destroy_user_session_path, method: "delete" %></li>
      </ul>
    </nav>
  </div>
</header>
