<header class="site-header">
  <div class="nav_bar">
    <nav id="main-navigation-dashboard">
      <%= link_to  "/", class: "logo" do %>
        {<b class="text-yellow-400">i</b>}Coder
      <% end %>
      <ul>
        <li> Hello! <%= current_user.display_name %> </li>
        <li class="hover:text-red-600"><%= link_to "升級會員", plans_path %></li>
        <li class="hover:text-red-600"><%= link_to "登出", destroy_user_session_path, method: "delete" %></li>
      </ul>
    </nav>
  </div>
</header>
