<header class="site-header">
  <div class="nav_bar flex items-center px-5">
    <%= link_to  "/", class: "logo" do %>
      {<b class="text-yellow-400">i</b>}Coder
    <% end %>
    <nav id="main-navigation">
      <ul>
        <li><%= link_to "註冊", new_user_registration_path , class:"btnstyle" %></li>
        <li><%= link_to "登入", new_user_session_path , class:"btnstyle" %></li>
      </ul>
    </nav>
    <div class="hamburger md:hidden">
      <button class="toggler">
        hamburger
      </button>
    </div>
  </div>
</header>
