<div data-controller="notice" class="flex w-1/4 justify-between items-center bg-gray-200 text-gray-700 p-4 rounded-md fixed z-10 bottom-10 left-0 right-0 mx-auto border-2 border-gray-500">
  <div class="mr-4 font-bold text-xl"><%= notice %></div>
  <button type="button" data-action="notice#dismiss">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</div>
