<div class="py-5 px-5">
  <div id="msg"></div>
  <%= form_for @message, remote: true do |f| %>
    <%= f.text_field :content , class: "border px-1.5" %>
    <%= f.submit class: "border px-1.5" %>
  <% end %>
</div>
