<section>
<h1 class="flex justify-center mb-4 text-3xl md:text-5xl text-coolGray-900 font-bold tracking-tighter">會員方案</h1>
<div class="flex justify-center">
  <div class="flex justify-center w-full md:w-1/2 lg:w-1/3 p-4">
    <div class="flex justify-center flex-col items-center pt-10 px-8 pb-8 bg-white rounded-md shadow-md hover:scale-105 transition duration-500">
      <span class="inline-block py-px px-2 mb-6 text-xs leading-5 text-green-500 bg-green-100 font-medium uppercase rounded-9xl">價錢</span>
      <h3 class="mb-4 text-lg md:text-xl text-green-500 font-medium">自由業者</h3>
        <div class="mb-4">
          <span class="relative -top-6 right-1 text-2xl text-coolGray-900 font-medium">$</span>
          <span class="text-5xl text-coolGray-900 font-medium">588</span>
          <span class="relative -top-6 right-1 text-2xl text-coolGray-900 font-medium"></span>
          <span class="text-3xl text-coolGray-900 font-medium">/年</span>
        </div>
        <p class="mb-7 text-lg md:text-xl text-coolGray-400 font-medium">每月計費</p>
        <ul class="self-start mb-8">
          <li class="flex items-center mb-3 text-coolGray-500 font-medium">
            <img class="mr-3" src="https://ppt.cc/fyZJsx">
            <span>會議室功能</span>
          </li>
          <li class="flex items-center mb-3 text-coolGray-500 font-medium">
            <img class="mr-3" src="https://ppt.cc/fyZJsx">
            <span>額外提供儲存30題面試題</span>
          </li>
          <li class="flex items-center mb-3 text-coolGray-500 font-medium">
            <img class="mr-3" src="https://ppt.cc/fyZJsx">
            <span>線上coding</span>
          </li>
          <li class="flex items-center text-coolGray-500 font-medium">
            <img class="mr-3" src="https://ppt.cc/fyZJsx">
            <span>創建5人團隊</span>
          </li>
        </ul>
      </div>
    </div>       
  </div>
</div>      
<%= form_with model: @order do |form| %>
<div class="flex justify-center ">
  <h3 class="justify-center mb-4  md:text-1xl text-coolGray-900  tracking-tighter">備註：</h3>
    <div>
      <%= form.text_area :note ,class: "container mx-auto px-4"%>
    </div>
</div>
<div class="flex justify-center">
  <%= form.submit "建立訂單",class: "bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 text-white rounded-md py-1 px-3 border-none" %>
<% end %>   
</div>
</section>
