<section class="features-block">
  <h2 class="text-center text-5xl mb-5">features</h2>
  <div class="flex">
    <div class="tabs">
      <a href="#">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, ipsum? Culpa sunt, ab ducimus vel distinctio eos quo nostrum amet?</p>
      </a>
      <a href="#">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima mollitia dignissimos excepturi hic quidem impedit incidunt quos accusantium veniam amet.</p>
      </a>
      <a href="#">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque unde nisi delectus sint ipsa ducimus magnam repellendus, dicta molestias dolorum?</p>
      </a>
    </div>
    <div class="img">
      <div class="box"></div>
    </div>
  </div>
</section>
