<section class="flow-chart-items-block">
  <h2 class="text-center text-5xl mb-5">三個亮點</h2>
  <div class="flex chart-list">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
  </div>
  <h3 class="text-center text-3xl mt-5">flow-chart</h3>
</section>
