<section class="hero-block">
  <div class="flex">
    <div class="text">
      <h1>
        <p>Hi<br>
          we are</p>
        {i}coder</h1>
      <p>Developers trust {i}Coder to help hire the right candidates because
        it’s simple – and just works</p>
    </div>
    <div class="img">
      <%= image_tag("coderpic.jpg") %>
      <%# <div class="box"></div> %>
    </div>
  </div>
</section>
