<section class="supports-programming-languages">
  <div class="flex">
    <div class="text">
      <h2>supports-programming-languages</h2>
      <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et tempore iure saepe sint corrupti consequatur quam praesentium? Magnam consequatur quae totam accusantium. Nisi aliquam corrupti modi illo tempore expedita a.</p>
      <%= link_to "View Languages", "#", class: "btn-primary" %>
    </div>
    <div class="img">
      <div class="box"></div>
    </div>
  </div>
</section>
