<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
  </head>
  <body>
    <%# FIXME need remove class.container to get accuracy of pointer %>
    <section class="container" data-controller="canvas">
      <div id="toolbar">
        <h1>Draw</h1>
        <!-- 選色器 -->
        <label for="stroke">顯示顏色</label>
        <input type="color" name="stroke" id="stroke" data-action="change->canvas#color" data-canvas-target="color" />
        <!--畫筆粗細-->
        <label for="lineWidth">筆畫粗細</label>
        <input type="number" name="lineWidth" id="lineWidth" data-action="change->canvas#lineWidth"  value="5" />
        <!--畫筆鈕-->
        <button id="brush" data-action="canvas#togglebrush" class="active" data-canvas-target="brush"><i class="fi fi-rs-pencil"></i></button>
        <!-- 清除鈕 -->
        <button id="clean" data-action="canvas#clean">清除</button>
        <!-- 橡皮擦 -->
        <button id="eraser" data-action="canvas#toggleEraser" data-canvas-target="eraser">橡皮擦</button>
      </div>
      <div class="drawing-board">
        <canvas id="drawing-board" data-action="mousedown->canvas#mousedown mouseup->canvas#mouseup mousemove->canvas#mousemove" data-canvas-target="drawing-board" ></canvas>
      </div>
    </section>
  </body>
</html>
