<div>
  <div class="candidate-input">
    <div class="control-panel">
      control bar
    </div>
    <div class="editor">
      editor
    </div>
  </div>
  <div>
    <p>
      web console
    </p>
  </div>
</div>
