<div class=" flex flex-col mr-1 mt-1 m-auto btn-dashboard-border ring ring-inset ring-gray-400 border-2 border-gray-600">
  <% language_set.each do |language| %>
    <button
      data-action="webconsole#createRuntime"
      class="my-2 btn-dashboard-border"
      id=<%= language%>
      data-editor-target=<%= language %>><%= language %></button>
    <% end %>
  </div>
