<div class="pl-10">
  <% language_set.each do |language| %>
    <button
      data-action="webconsole#createRuntime"
      class="my-2"
      data-editor-target=<%= language %>><%= language %></button>
    <% end %>
  </div>
