<h1 class="text-5xl">開始創立</h1>
<div>
  <% language_set = %w[Ruby JavaScript] %>
  <% language_set.each do |language| %>
    <button class="choose-language-btn" data-action="click->webconsole#createRuntime"><%= language %></button>
  <% end %>
</div>
<iframe id="iframe" src=<%= src %> style="height: 500px;" class="border-2 border-solid border-black w-full"></iframe>
