<div class="flex justify-between">
  <ul class="right-header flex">
    <li class="text-xl text-white hover:underline mr-5">執行結果</li>
    <li class="text-xl text-white hover:underline">指示</li>
  </ul>
  <button class="bg-red-700 border border-red-900 hover:bg-red-800 text-white text-sm rounded px-5 py-2">重啟</button>
</div>
<div>
  <%= link_to "ruby",
      rooms_createruntime_path(language: "ruby"),
      method: "post",
      class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2",
      data: { "action": "click->webconsole#createRubyRuntime" } %>
  <%= link_to "javascript",
      rooms_createruntime_path(language: "javascript"),
      method: "post",
      class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2",
      data: { "action": "click->webconsole#createJavaScriptRuntime" } %>
</div>
<iframe id="iframe" src=<%= src %> style="height: 500px;" class="border-2 border-solid border-black w-full"></iframe>
