<div class="flex justify-between">
  <%# <ul class="right-header flex">
    <li class="text-xl text-white hover:underline mr-5">執行結果</li>
    <li class="text-xl text-white hover:underline">指示</li>
  </ul>
  <button class="bg-red-700 border border-red-900 hover:bg-red-800 text-white text-sm rounded px-5 py-2">重啟</button> %>
</div>

<iframe id="iframe" src=<%= src %> class="border-2 border-solid border-black w-full h-full"></iframe>
