.section-session {
  @apply h-full flex items-center py-12;
  .container {
    @apply w-full max-w-md m-auto;
    .box {
      @apply shadow-md rounded px-8 pt-6 pb-8 mb-4;
    }
  }
}
.form-label {
  @apply block text-gray-700 text-lg font-bold;
}
.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}
.btn-summit {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded;
}

.btn-third-party {
  @apply mb-4 border border-gray-300 rounded  hover:bg-blue-200 text-gray-800 font-bold py-2 px-12 shadow appearance-none flex justify-center;
}

.link-hover {
  @apply font-bold hover:text-red-600;
}
