// FIXME RWD
footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
  left:0px;
  @apply md:relative;
}
.site-footer {
  @apply bg-gray-500 text-white;
  div {
    padding: 3rem;
  }
  .footer-logo {
    flex-grow: 3;
    .social-links {
      li {
        display: inline-block;
      }
    }
  }
  .footer-menu-items {
    flex-grow: 4;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    * {
      flex-grow: 1;
      margin: 0 1rem;
    }
  }
}
