.site-header {
  @apply sticky w-full sm:border-b bg-white;
  z-index: 1;
  .logo {
    @apply text-4xl;
    letter-spacing: 2px;
    font-weight: 500;
    img{
      height: auto;
      max-width: 100%;
      width: 50%;
    }
  }
}

#main-navigation {
  @apply hidden sm:flex flex-grow justify-end items-center py-2.5;
  ul {
    @apply flex items-center;
    > li {
      @apply p-3  font-bold;
    }
  }
}

#main-navigation-member {
  @apply flex justify-center items-center py-5;
}

#main-navigation-dashboard {
  @apply flex flex-grow justify-between items-center py-2.5;
  ul {
    @apply flex items-center;
    > li {
      @apply mx-4 p-3  font-bold;
    }
  }
}
.sub-nav {
  // FIXME temporary
  display: none !important;
}

// FIXME RWD

// *[class]::before{
//   content: attr(class);
//   padding: 2px 16px;
//   left: -8px;
//   top: -8px;
//   position: absolute;
//   @apply m-2 bg-green-300;
// }
// *[class] {
// padding: 1.8rem 1rem 10px;
// @apply border-4 border-green-300 relative;
// }
// #main-navigation {
// @apply fixed md:sticky md:top-3 md:flex md:flex-wrap;
// ul {
//   @apply md:flex border-2 border-yellow-200 flex-grow;
//   li {
//     @apply m-2 p-2 bg-gray-200 md:w-1/5;
//   }
// }
// }
// .hamburger {
// @apply hidden absolute md:block md:right-0 md:top-0;
// }
// body > :last-child {
// @apply hidden;
// }


#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
