body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
}
h1 {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  height: 100%;
  display: flex;
}

#toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: auto;
  background-color: #202020;
  left: 0;
}

#toolbar * {
  margin-bottom: 8px;
}

#toolbar label {
  font-size: 14px;
}

#toolbar input {
  width: 60px;
}

#toolbar button {
  background-color: #1565c0;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 1px;
}
#lineWidth {
  color: #000;
}

canvas.eraser_cursor {
  cursor: url("/eraser.png"), auto;
}

canvas.pencil_cursor {
  cursor: url("/pencil.png"), auto;
}
