<p>親愛的用戶 <%= @resource.username %> 您好 !</p>

<p>此為密碼更改指示，您可以使用下面的連結更改密碼。</p>

<p><%= link_to '更改密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您沒有進入上面的連結，並建立新的密碼，您的密碼將不會被改變。</p>

<p>若您沒有此需求，請忽略此電子郵件</p>
